[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
isort = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-test-plus = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "*"
